<nav class="ui menu">
    <header class="ui header item">
        <img class="ui massive image" src="/images/averageCrest.jpeg">
        <img class="ui massive image" src="/images/average-joes-logo.jpg">
    </header>
  <div class="right menu">
      <a id="memberDashboard" class="item" href="/member/{{member.id}}"> Dashboard  </a>
      <a id="settings" class="item" href="/settings/{{member.id}}/editmember"> Settings </a>
      <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
